<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>CRUD Mutably API</title>
  </head>
    <link type="text/css" rel="stylesheet" href="./style.css">
  <body>
    <h1>Mutably API: Books</h1>
    <h2>Reset</h2>
    <div id="listInfo">
    </div>

    <div id="addForm">
      <form>
        <fieldset>
            <legend>Add Book</legend>
            Title:
            <input type="text" name="title">
            Image:
            <input type="text" name="image">
            Author:
            <input type="text" name="author">
            Release Date:
            <input type="text" name="releaseDate">
            <button class="addButton">Add</button>
            <button class="cancelButton">cancel</button>
        </fieldset>
      </form>
    </div>

    <div id="updateForm">
      <form>
        <fieldset>
          <legend>Edit Book</legend>
          <ul>
            <li>
              <button class="editButton">Edit</button> Title:
              <button class="saveButton">Save</button>
              <span class="viewFileInfo">ViewSpan</span>
              <span class="editFileInfo">
                <input name="title">
              </span>
            </li>
            <li>
              <button class="editButton">Edit</button> Image:
              <button class="saveButton">Save</button>
              <span class="viewFileInfo">ViewSpan</span>
              <span class="editFileInfo">
                <input name="image"> 
              </span>
            </li>
            <li>
              <button class="editButton">Edit</button> Author:
              <button class="saveButton">Save</button>
              <span class="viewFileInfo">ViewSpan</span>
              <span class="editFileInfo">
                <input name="author">
              </span>
            </li>
            <li>
              <button class="editButton">Edit</button> Release Date:
              <button class="saveButton">Save</button>
              <span class="viewFileInfo">ViewSpan</span>
              <span class="editFileInfo">
                <input name="releaseDate">
              </span>
            </li>
            <button class="cancelButton">cancel</button>
            <button class="saveAllButton">Save</button>
          <ul>
        </fieldset>
      </form>
    </div>
    <div class="hello"></div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="./main.js"></script>
  </body>
</html>